.how-it-works-section{
    padding : 30px;
}
h2{
    font-family: 'Lato', 'Arial', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
}
.h2:before, .row:after {
    content: "";
    display: table;
}
.h2:after {
    clear: both;
}

.row:before, .row:after {
    content: "";
    display: table;
}
h2:after {
    display: block;
    height: 2px;
    background-color: rgba(33,81,197,1);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


.machine-photo{
    width: 400px;
    // height: 00px;
}

.machine-info{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.howitworks-background{
    width:800px;
    height: 400px;
    background-color: rgb(23, 35, 201);
    opacity: 1.9;
    border-radius: unset;
}

.howitworks-img{
    width: 260px;
    height: 300px;
    margin-left:120px;
    border-radius: unset;
}